a{
  text-decoration: none;
  /*color:#f5f2e6; /* pale, pale yellow */
  /*font-size: .8em;*/
  
}
a:link{
}
a:visited{
}  
a:hover{
 /* color:#a45808;*/
  right: 1%;
  border: 1px solid #f5f2e6;/*This makes a nice border around the link.  Found here: http://www.w3schools.com/cssref/pr_border.asp*/
  border-radius: 2em;/*this makes the border rounded.   Found here: http://www.w3schools.com/cssref/css3_pr_border-radius.asp */
  padding: 1px 1px 1px 1px;
  left: 5%;
  padding: 2px;
}
a:active{
}

.active{


}

li{
display: inline-block;

}

nav{


}
