<!DOCTYPE HTML>
<html ng-app="myApp">
   <head>
   <meta charset="utf-8">
   <!--File: A09.html
       Author: Susan Souza, Computer Science Student at UMass Lowell, Susan_souza@student.uml.edu
       Assignment 9: Using AngularJS
       This assignment is just to get started with Angular.
       Original file created by Jesse M. Heines, UMass Lowell Computer Science, heines@cs.uml.edu; last updated by JMH on November 29, 2014 at 3:29 PM
       Modified December 8, 2014, by Susan S. to begin working with different JSON file than the one specified in original code
       Modified December 10, 2014 by Susan S.to continue to attempt to get the data from the new file to be used 
       and to optimistically add some radio buttons 
       Scrapped and recreated from scratch by Susan S. on December 11, 2014. 
       Column sort still does not appear to be working for me work as of 7:30 PM on December 11, 2014, and for some reason the 'unsafe' filter is also giving me trouble.
       Edit 7:50 PM-- had misplaced ng-click directives for the sort.  That should work, now!
       -->
   
   <!-- get Angular-->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <!-- Prof. Heines' collection of utility functions -->
   <script src="jmh-utilities.js"></script>
   <!-- Prof. Heines' filter functions for this app -->
   <script src="jmh-assn09-filters.js"></script>
   <title>Books Written by Jim Butcher</title>
   <script>
   "use strict"
      // the number of the last column sorted, initialized to the Student Name column
      var lastSortColumnNo = 2 ;
      // a flag indicating whether the last sort was ascending (true) or descending (false)
      var lastSortDescending = false ;
      var myApp = angular.module("myApp", []);
         myApp.controller("BooksCtrl", function($scope, $http){
            $http.get("jButcher_books_all.json").success(function(data){
               $scope.books = data.BOOKS; //assign the array of objects called BOOKS in the json file to a variable named books
                $scope.date = new Date() //get today's date
            });
                    // set the initial sort field (student name) and sort order (ascending)
           $scope.sortField = "student_name" ;
           $scope.sortDescending = false ;
           $scope.showIt = "all";
          
           /** This function from Prof Heines, found here: 
            * https://teaching.cs.uml.edu/~heines/91.461/91.461-2014-15f/461-assn/code/Assn09-Starter/jmh-assn09-v4.html
            *  Sort column clicked in either ascending or descending order.
            *  Note that this could also be accomplished using the built-in AngularJS orderBy
            *    filter and manipulating the sort field and reverse parameters.
            *  Also note that this code could also have been incorporated into the ng-click 
            *    directives on the table's th elements, but doing it here gave me more central
            *    control, and I think that this function makes what's going on clearer and 
            *    therefore easier to maintain.
            *  @param colNo the number of the column header clicked
            */
           $scope.sortColumn = function( colNo ) {
             $scope.sortDescending = lastSortColumnNo === colNo && ! lastSortDescending ;
                 // true to sort in descending order, false to sort in ascending order
                 // will be false if sorting a new column or last sort was descending
             if ( colNo === 2 ) {
               // this is the Title column
               $scope.sortField = "book_title" ;
              
             } else if ( colNo === 3 ) {
               $scope.sortField = "series_title" ;//this is the Series column
             } else if ( colNo === 4 ) {
               // this is the No. column
               $scope.sortField = "series_no" ;
               // the following statement was used in a previous version of this app
               // before adding the orderBy filter to the ng-repeat directive
               //    $scope.jsonData.data.RECORDS.sort( sort_by( "millisecs", boolSortAscending ) ) ;
             }
             // save the sort paramesters for the next click
             lastSortDescending = $scope.sortDescending ;
             lastSortColumnNo = colNo ;
           }
           
         });

   </script>
  <!-- Prof. Heines' CSS for this app -->
  <link type="text/css" rel="stylesheet" href="jmh-assn09.css">
   </head>
   <body>
      <div ng-controller="BooksCtrl">
         <h2 id="maintitle">Books Written by Jim Butcher</h2>
         <p>All information found either <a href="http://en.wikipedia.org/wiki/Jim_Butcher#Bibliography">here</a> or <a href="http://www.jim-butcher.com/books">here</a>.</p>
         <p id ="bookCount">{{books.length}} books published and released as of {{date | date:"MMMM d, yyyy"}}.<!-- display today's date-->
         </p><!--end bookCount paragraph-->
         <p><em>Show:&nbsp;</em><!-- these are meant to be used to filter the data in the table by series name -->
         <form>
         <input  type ="radio" ng-model= "showWhat" id = "all" name = "series"  checked = "checked" >All</input>
         <input type ="radio" ng-model= "showWhat" id = "dresden" name = "series" value = "dresden">The Dresden Files</input>
         <input type ="radio" ng-model= "showWhat" id = "codex" name = "series" value="codex">Codex Alera</input>
         <input type ="radio" ng-model= "showWhat" id = "other" name = "series" value="{none}">Other</input>
        </form>
         </p>
    
         <!-- table directions -->
         <p><em>Click either green header row cell to sort the list.</em></p>
  
         <table id="tblSubmissions">
         <thead>
               <tr>
                  <th> </th>
                  <th ng-click="sortColumn(2)">Title</th>
                  <th ng-click="sortColumn(3)">Series</th>
                  <th ng-click="sortColumn(4)">No.</th>
                  <th>Released</th>
                  <th>Synopsis</th>
                  <th>Buy</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat ="book in books | filter:showWhat:strict | orderBy:sortField"><!-- generates table cells for as many objects in the JSON array in the given file-->
                  <td>{{$index +1}}</td><!-- this incrementing of the index value was mentioned in class -->
                  <td>{{book.book_title}}</td>
                  <td>{{book.series_title}}</td>
                  <td>{{book.series_no}}</td>
                  <td>{{book.first_released}}</td>
                  <!-- The following comment and code found in Prof Heines' starter code here: https://teaching.cs.uml.edu/~heines/91.461/91.461-2014-15f/461-assn/code/Assn09-Starter/jmh-assn09-v4.html
                  To interpret the HTML tags in the output, use the syntax below, explained at:
                  http://creative-punch.net/2014/04/preserve-html-text-output-angularjs/
                  -->
                  <td ng-bind-html="book.synopsis | unsafe"></td>
                  <!-- Makes the URL stored in the data file a clickable link. From Prof. Heines: https://teaching.cs.uml.edu/~heines/91.461/91.461-2014-15f/461-assn/code/Assn09-Starter/jmh-assn09-v4.html
                  Jesse M. Heines, UMass Lowell Computer Science, heines@cs.uml.edu -->
                <td><a href="{{book.buy_url}}" target="_blank">{{book.book_url}}</a></td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>